<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/foa_testdb</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">password</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping class="com.familyorg.familyorganizationapp.domain.Family" />
    <mapping class="com.familyorg.familyorganizationapp.domain.FamilyMembers" />
    <mapping class="com.familyorg.familyorganizationapp.domain.User" />
    <mapping class="com.familyorg.familyorganizationapp.domain.MemberInvite" />
    <mapping class="com.familyorg.familyorganizationapp.domain.Calendar" />
    <mapping class="com.familyorg.familyorganizationapp.domain.CalendarEvent" />
    <mapping class="com.familyorg.familyorganizationapp.domain.RecurringCalendarEvent" />
    <mapping class="com.familyorg.familyorganizationapp.domain.EventRepetitionSchedule" />
    <mapping class="com.familyorg.familyorganizationapp.domain.ShoppingList" />
    <mapping class="com.familyorg.familyorganizationapp.domain.ShoppingListItem" />
  </session-factory>
</hibernate-configuration>
